*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
--colorSecundario: #20e3b2;
--colorPrincipal:rgb(10,25,47);
--colorRojo:rgb(102, 16, 32);
--colorFondoArticulos:rgb(0, 0, 0,0.2);
}
body{
    background-color: var(--colorPrincipal);
    color: white;
}

h1,h2,h3,figcaption{
    font-family: Fira Code;
}
h4{
    color: gray;
}
p{
    font-family: Kanit;
}
span{
    font-family: Fira Code;
    color: var(--colorSecundario);
}
figcaption{
    color: white;
}
/*HEADER*/
header figure img{
    width: 60px;
    height: 60px;
}

header nav ul li span{
font-weight: 900;
}
header nav:nth-of-type(1) ul li{
    width: 55px;
    height: 55px;
    background-image: url(/img/sprites/sprites.png);
    background-repeat: no-repeat;
    transition: all .09s;
}
header nav:nth-of-type(1) ul li a{
    display: block;
    width: 50px;
    height: 50px;
}
header nav:nth-of-type(1) ul li:nth-of-type(1){
    background-position: 0 -1px;
}
header nav:nth-of-type(1) ul li:nth-of-type(2){
background-position: -65px 0;
}
header nav:nth-of-type(1) ul li:nth-of-type(1):hover{
    background-position: 0 -65px;
}
header nav:nth-of-type(1) ul li:nth-of-type(2):hover{
    background-position: -65px -65px;
}
header nav ul li a{
    color: white;
    transition: all .5s;
}
header nav ul li a span{
    transition: all .5s;
}
header nav ul li a:hover{
    color: var(--colorSecundario);
}
header nav ul li a:hover span{
    color: white;
}
.curriculumButton{
    color: var(--colorSecundario);
    font-weight: 500;
    border: 2px solid var(--colorSecundario);
    transition: all .2s;
}
.curriculumButton:hover{
    color: var(--colorRojo);
    border:2px solid var(--colorRojo);
}


/*DIV 1: ROBOT*/
main .htmlopen{
    position: absolute;
    top: 250px;
    width: 100px;
    opacity: 0;
}
main .htmlopen:nth-of-type(1){
    left: -10%;
    animation: EntradaIzq 1s linear forwards;
    opacity: 1;
    animation-delay: 0.2s;
}
main .htmlopen{
    width: 100px;
}
main .htmlopen:nth-of-type(2){
right: -10%;
animation: EntradaDer 1s linear forwards;
opacity: 1;
animation-delay: 0.2s;
}


@keyframes EntradaIzq{
    0%{
        left:-10%;
        opacity: 0;
    }
    100%{
        left: 30%;
        opacity: 1;
    }
}
@keyframes EntradaDer{
    0%{
        right:-10%;
        opacity: 0;
    }
    100%{
        right: 30%;
        opacity: 1;
    }
}


main .robot{
    padding: 0;
    height: 200px;
    width: 300px;
    margin: 50% auto;
    position: relative;
    justify-content: center;
}
.robot figure{
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 200px;
}
.robot figure img:nth-of-type(2), div:nth-of-type(1) figure img:nth-of-type(3){
width: 30px;
top: 15px;
position: absolute;
}
.robot figure img:nth-of-type(1){
    width: 200px;
    position: absolute;
}
#eyes, #eyes img{
}




/*SECCION 1: PRESENTACION*/
section:nth-of-type(1) h3{
color: var(--colorSecundario);
}
section:nth-of-type(1) h1{
font-size: 50px;
}
section:nth-of-type(1) h3{
    font-size: 18px;
}
section:nth-of-type(1) p{
    color: gray;
}

.ORT{
    color: var(--colorRojo);
}
section:nth-of-type(1) div{
background-color: var(--colorFondoArticulos);
border-radius: 18px;
padding: 18px;
}

section:nth-of-type(1) .bracketopen:nth-of-type(1){
    position: relative;
left: -5%;
animation: EntradaIzq2 1.2s linear forwards;
}
section:nth-of-type(1) .bracketopen:nth-of-type(2){
    position: relative;
right: -5%;
animation: EntradaDer2 1.2s linear forwards;
}

@keyframes EntradaIzq2{
    0%{
        left:-10%;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
@keyframes EntradaDer2{
    0%{
        right:-10%;
        opacity: 0;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}



/*SECCION 2: PROYECTOS*/
.accordion-button, .accordion-item{
    background-color: var(--colorPrincipal);
    color: white;
}
.accordion-button{
    position: relative;
    transition: all .3s;
}
section:nth-of-type(2) .accordion-item button figure{
    position: absolute;
    right: 7%;
    top: 20%;
    height: 30px;
    width: 30px;
    background-image: url(/img/sprites/spritesProyectos.png);
    background-repeat: no-repeat;
}

section:nth-of-type(2) .accordion-item article p a{
margin: 50%;
}

section:nth-of-type(2) .accordion-item:nth-of-type(1) button figure{
background-position: 0 0;
}

section:nth-of-type(2) .accordion-item:nth-of-type(2) button figure{
    background-position: -40px -1px;
}

section:nth-of-type(2) .accordion-item:nth-of-type(3) button figure{
    background-position: -80px 0;
}

section:nth-of-type(2) .accordion-body figure{
    position: relative;
}

section:nth-of-type(2) .accordion-body figcaption{
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: 900;
    width: 100%;
    background-color: rgb(0, 0, 0,0.6);
    display: block;
}

section:nth-of-type(2) #accordion-caption{
    color: var(--colorSecundario);
}

section:nth-of-type(2) .accordion-body p{
    color: white;
    font-size: 14px;
}

.accordion-item{
    border: 2px solid var(--colorSecundario);
}

.accordion-item article{
    background-color: var(--colorFondoArticulos);
    border-radius: 18px;
    padding: 5px;
}

/*SECCION 3: ESTUDIOS*/
.FING{
    color: rgb(67, 146, 199);
}

.LICEO{
    color: rgb(145, 94, 0);
}

.RETOMAR{
    color: gray;
}
section:nth-of-type(3) article{
    border-radius: 18px;
    background-color: var(--colorFondoArticulos);
    margin-bottom: 10px;
}

section:nth-of-type(3) figure{
    padding: 0;
    margin: 0;
}
section:nth-of-type(3) figure img{
    width: 25px;
}

.reveal{
    position:relative;
    transform: translateY(200px);
    opacity: 0;
    transition: .5s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}